<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-one">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Tab Uno</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-two">
      <ion-icon name="star"></ion-icon>
      <ion-label>Tab Dos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-three">
      <ion-icon name="cut"></ion-icon>
      <ion-label>Tab Tres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>