<!-- <ion-split-pane when="md"> -->
  <ion-menu contentId="content">
    <ion-header no-border>
      <ion-toolbar color="primary">
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-list-header>
            <ion-label color="primary">
              MENU TITLE
            </ion-label>
          </ion-list-header>
          <ion-item [routerLink]="pages[0].url" routerDirection="root" [class.active-item]="selectedPath.startsWith(pages[0].url)">
            <ion-icon slot="start" name="pulse"></ion-icon>
            <ion-label>{{pages[0].title}}</ion-label>
          </ion-item>
          <ion-item [routerLink]="pages[1].url" routerDirection="root" [class.active-item]="selectedPath === pages[1].url">
            <ion-icon slot="start" name="globe"></ion-icon>
            <ion-label>{{pages[1].title}}</ion-label>
          </ion-item>
          <ion-item [routerLink]="pages[2].url" routerDirection="root" [class.active-item]="selectedPath === pages[2].url">
            <ion-icon slot="start" name="contacts"></ion-icon>
            <ion-label>{{pages[2].title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-list-header>
          <ion-label color="primary">
            SESIÓN
          </ion-label>
        </ion-list-header>
        <div style="text-align: center;">
          <ion-button (click)="logOut()" color="danger" fill="outline" size="small">CERRAR SESIÓN</ion-button>
        </div>  
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
<!-- </ion-split-pane> -->