<ion-content>
  <div class="center-form">
    <div class="col" style="display: block; margin-left: auto; margin-right: auto; width:80%; height: 80%; padding-bottom: 10%;">
      <img src="assets/icon/favicon.png" alt="app_logo">
    </div>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <br />
    <div style="text-align: center;">
      <ion-button (click)="logIn()" color="secondary" fill="outline" size="small">ENTRAR</ion-button>
    </div> 
  </div>
</ion-content>
