<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tab Uno</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Buscar..."
                    animated
                    mode="md"
                    (ionChange)="searchEvent($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="content">
  <div style="padding: 10%;">
    <h3>Resultados de la búsqueda</h3>
    {{searchResult}}
  </div>
</ion-content>
