<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tab Tres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="content">
  <div class="center-form">
    <div style="text-align: center;">
      <ion-button (click)="presentModal()" color="secondary" fill="outline" size="small">SHOW MODAL</ion-button>
    </div>
  </div>
</ion-content>
