<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="scrolled($event)">
    <ion-list>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Item Label</ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
